# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# Ignore IDE and OS-specific files
.DS_Store
.vscode/
.idea/

# Ignore environment files
.env
.uv.lock
uv.lock
*.egg-info/

